<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-8">
        <div class="card text-center">
          <div class="card-header  text-white">
            Welcome to Our Application
          </div>
          <div class="card-body">
            <h5 class="card-title">RH Space</h5>
            <p class="card-text">
              We are glad to have you here. Explore our features and have a great experience.
            </p>
            <a href="/employees" class="btn ">Explore Features</a>
          </div>
          <div class="card-footer text-muted">
            © 2024 
          </div>
        </div>
      </div>
    </div>
  </div>
  